.App {
  text-align: center;
}

header{
  background-color: #33bfd8;
  padding: 20px;
}

h2{
  color: rgb(51, 197, 200);
  margin: 0;
}

.search-form {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.search-bar {
  width: 50%;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid;
  margin-right: 10px;
}

.search-button {
  background-color: #79e7ed;
  color: rgb(240, 184, 184);
  border: 1px solid;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
}

.recipes {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin-top: 20px;
}

.recipe {
  width: 300px;
  margin: 20px;
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 10px;
  text-align: left;
}

.recipe h2 {
  margin-top: 0;
  margin-bottom: 20px;
}

.recipe-image {
  width: 100%;
  height: auto;
  border-radius: 5px;
  margin-bottom: 10px;
}

.ingredients {
  list-style: none;
  padding: 0;
  margin: 0;
}

.ingredients li {
  margin-bottom: 5px;
}

.recipe-link {
  display: block;
  background-color: #204a82;
  color: aliceblue;
  border-radius: 7px;
  padding: 10px;
  text-align: center;
  margin-top: 10px;
  text-decoration: none;
}
